<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".reviewCompetitionRecordPage"
            android:exported="false" />
        <activity
            android:name=".favouriteRestaurantsPage"
            android:exported="false" />
        <activity
            android:name=".userReviewCreationPage"
            android:exported="false" />
        <activity
            android:name=".loginPage"
            android:exported="false" />
        <activity
            android:name=".ownerReviewRespondPage"
            android:exported="false" />
        <activity
            android:name=".ownerRestaurantViewingPage"
            android:exported="false" />
        <activity
            android:name=".restaurantOwnerProfilePage"
            android:exported="false" />
        <activity
            android:name=".restaurantListPage"
            android:exported="false" />
        <activity
            android:name=".restaurantDetailPage"
            android:exported="false" />
        <activity
            android:name=".dashboardPage"
            android:exported="false" />
        <activity
            android:name=".businessRegistrationPage"
            android:exported="false" />
        <activity
            android:name=".userRegistrationPage"
            android:exported="false" />
        <activity
            android:name=".profilePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>